*{
    padding: 0;
    margin: 0;
    font-family:'Nunito', sans-serif;
    font-size: 22px;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

button:hover{
    font-weight: bold;
    cursor: pointer;
}



